header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .add-title {
      color: blue;
      font-weight: 900;
    }
  
    nav a {
      display: inline-block;
      padding: 0 1rem 0 1rem;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      color: black;
    }
    
    nav a:hover {
      color: blue;
    }