h2 {
    color: blue;
    font-style: italic;
    padding: 0 1rem;
}
.inzerat-popis {
    padding: 1rem 1rem;
    border: solid 3px blue;
}
.text {
    padding: 0 2rem 0 1rem;
    text-align: justify;
    margin-bottom: 0;
}

.city {
    padding: 1rem;
    font-weight: bold;
    margin-top: 0;
}

.kontact p {
    font-style: italic; 
    color: blue;
    padding: 0 2rem 0 1rem;
    margin: 0;
}